@import "menu_style.css";
@import "home_style.css";
@import "data_input.css";
@import "style_proba.css";

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body{
       font-size: 12px;
       background-color: rgb(0,43, 73);
       color: white;
       font-family: 'Noto Sans JP';
}

p{
       font-size: 20px;
       text-align: left;
       color: white;
}

.content_box {
    padding-top: 65px;
}